@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

  a:hover {
    color: rgb(142, 72, 235);
  }
body, html {
    font-family: 'Abel', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background:rgb(155,222,172);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
aside.topnav{
    color: #707070;
    display: grid;
    grid-template-columns: auto 40px;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}
h1.name {
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    margin-right: auto;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #6e6e6e;
}
h1.name a{
    color: #6e6e6e;
    text-decoration: none;
}
img.open{
    width: 40px;
    cursor: pointer;
    padding-top: .5em;
}
aside {
    background-color: white;
    display:grid;
}
.active {
    position: absolute;
    display: block;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
nav {
    display: none;
}
aside.closebutton {
    display: grid;
    grid-template-columns: auto 40px;
    padding-right: 2em;

}
img.close {
    width: 40px;
    cursor: pointer;
    margin-left: 100%;
    padding-bottom: 0.25em;
    padding-top: 2.0em;
}
ul {
    list-style-type: none;
    padding:0;
    padding-top: 20%;
    padding-left: 5em;
}
ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 350%; 
    color: #707070;
    display: block;
}
footer.mobile {
    display: flex;
    justify-content: center;
    padding-right: 1em;
    margin: 6em;
}
footer.mobile img {
    height: 45px;
    width: 45px;
    padding-left: 1em;
}
main {
    background: white;
    margin: 1em;
    padding: 1em;
}
p.aboutme {
    font-size: 140%;
    line-height: 1.5em;
    padding: 0.5em;
}
img.me {
    height: 262px;
    width: 163px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
footer.desktop {
    display: none;
}
h1.title {
    padding: 0;
    margin: 0;
    font-size: 200%;
}
p.description {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 130%;
}
iframe {
    width: 224px;
    height: 126px;
}
table {
    text-align: left;
}

@media only screen and (min-width: 1086px) {
    img.open {
        display: none;
    }
    img.close {
        display: none;
    }
    footer.mobile {
        display: none;
    }
    footer.mobile img {
        display: none;
    }
    aside.closebutton {
        display: none;
    }
    nav {
        display: inline;
    }
    ul li {
        float: left;
        display: inline;
        padding-left: 3em;
        font-size: 0.80em;
    }
    aside.topnav {
        display: flex;
    }
    h1.name {
        padding: 0;
        margin: 0;
        margin-left: 0.5em;
        float: bottom;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li.homepage {
        display:none;
    }
    p.aboutme {
        display: block;
        float: left;
        line-height: 2.5;
        font-size: 150%;
    }
    main {
        margin: 3em;
        margin-bottom: 1.5em;
        display: flex;
    }
    img.me {
        margin-left: 1em;
        margin-right: 1em;
        height: 677px;
        width: 454px;
        padding-bottom: 1em;
    }
    footer.desktop {
        display: inline;
    }
    p.copyright {
        font-size: 30px;
        margin: 0;
        padding: 0;
        float: left;
        margin-left: 2em;
    }
    footer.desktop img {
        float: right;
        margin-right: 3.5em;
        padding: 0;
    }
    h1.work {
        padding: 0;
        margin: 0;
    }
    iframe {
        width: 560px;
        height: 315px;
    }
    main.work {
        padding-right: 5em;
        padding-left: 5em;
    }
    table {
        padding-top: 3em;
        margin-right: 23em;                
    }
}